.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.mensagem {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  animation: fadeIn 1s ease-out forwards;
  z-index: 2;
}

.presente {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
}

.topo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #83483f;
  border-radius: 5px 5px 0 0;
  animation: abrirTopo 1.5s ease-out forwards;
  border-radius: 15px 15px 0px 0;
}

.corpo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: #c79089;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

.laco {
  position: absolute;
  background-color: red;
  z-index: 2;
}

.lacoVertical {
  width: 10px;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
  animation: abrirLacoVertical 1.5s ease-out forwards;
}

.lacoHorizontal {
  width: 150px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  animation: abrirLacos 1.5s ease-out forwards;
}

.imagemPresente {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: aparecerPresente 1.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes abrirLacos {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

@keyframes abrirLacoVertical {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes abrirTopo {
  0% {
    transform: rotate(0deg);
    left: 0%;
  }

  100% {
    transform: rotate(-80deg);
    left: -60%;
  }
}

@keyframes aparecerPresente {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  90% {
    opacity: 1;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(-50px);
    z-index: 2;
  }
}
